<div class="col-md-4 blog-sidebar">
          <div class="p-2 mb-2 bg-light rounded ">
            <h4 class="font-italic about-text">What to expect?</h4>
            <p class=" about-text">Midgard Digital presents our blogs where we talk shop, and clue you in on any and all our tips and tricks! We may also write to you about the other things we find ourselves passionate about. <em>Alway remember the  greatest technology we can ever own is knowledge.</em></p>
          </div>

          
            <%= source_helper("alert alert-info blog-sidebar-source")%>
          

          <div class="p-3 sidebar-module">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <% @sidebar_topics.each do |topic| %>
                <li><%= link_to topic.title, topic_path(topic) %></li>
              <% end %>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="#"><%= fa_icon "github-alt" %> </a></li>
              <li><a href="#"><%= fa_icon "facebook" %> </a></li>
              <li><a href="#"><%= fa_icon "twitter" %> </a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->