<div class="blog-post">
  <h2 class="blog-post-title">
    <%= link_to blog.title.upcase, blog %>
  </h2>
    <p class="blog-post-meta"> <%= distance_of_time_in_words(blog.updated_at, Time.now) %> ago<a href="#"></a></p>
    <p>
      <%= link_to 'Show', blog, class: "blog-link" %>
      
      <%= render partial: 'blogs/admin_actions', locals: {blog: blog}%>
    </p>
  <%= markdown(blog.body, "truncated")%>
</div>