
  <div class="col-md-8">
    <div class="blog-post">
      <h2 class="blog-title"><%= @blog.title %></h2>
      <p class="blog-post-meta"><%=@blog.topic.title%></p>
      <p class="blog-post-meta"><%=@blog.created_at%> <a href="#"></a></p>


      <nav class="bread-text breadcrumb row">
        <div class="col">
          <%= link_to "Home", root_path, class:"breadcrumb-item" %>
          <%= link_to @blog.topic.title, topic_path(@blog.topic), class:"breadcrumb-item" %>
          <span class="breadcrumb-item active"><%= @blog.title %></span>

          
        </div>
        <span class="float-right">
            <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
            <%= link_to fa_icon("trash"), @blog, method: :delete, data: {confirm: "Are you sure you want to delete?"} if logged_in?(:site_admin)%>
          </span>
      </nav>

      <%= markdown(@blog.body) %>

      <!-- comment form  -->
        <%= render 'comments/comment_form'%>
      <!--/comment form -->

      <!-- comment show  -->
      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render @blog.comments %>
      </div>

      <!-- comment show -->
    </div>
 

  </div>
  <%#= render "blog_sidebar"%>

