<div class="row">
  <div class="col-md-8">
    <div class="blog-post">
      <h2 class="blog-title"><%= @blog.title %></h2>
      <p class="blog-post-meta"><%=@blog.topic.title%></p>
      <p class="blog-post-meta"><%=@blog.created_at%> <a href="#"></a></p>
        <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
        <%= link_to 'Back', blogs_path %>
      <p><%= @blog.body %></p>

      <!-- comment form  -->
        <%= render 'comments/comment_form'%>
      <!--/comment form -->

      <!-- comment show  -->
      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%= render @blog.comments %>
      </div>

      <!-- comment show -->
    </div>
 

  </div>
  <%= render "blog_sidebar"%>
</div>

