<div class="row">
  <div class="col-md-8">
    <div class="blog-post">
      <h2 class="blog-title"><%= @blog.title %></h2>
      <p class="blog-post-meta"><%=@blog.created_at%> by <a href="#"></a></>
      <p><%= @blog.body %></p>

      <!-- comment form  -->
        <% unless current_user.is_a?(GuestUser) %>
          <%= form_for @comment, url: '#' do |f| %>

          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <%= f.submit "Post Comment", class: 'btn btn-primary'%>

          <% end %>
        <% end %>
      <!--/comment form -->

      <!-- comment show  -->
      <%= render @blog.comments %>
     

      <!-- comment show -->
    </div>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
  <%= link_to 'Back', blogs_path %>

  </div>
  <%= render "blog_sidebar"%>
</div>

