<div class="blog-post">
  <h2 class="blog-title"><%= @blog.title %></h2>
  <p class="blog-post-meta"><%=@blog.created_at%> by <a href="#"></a></p>

  <p><%= @blog.body %></p>
</div>

<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
<%= link_to 'Back', blogs_path %>
