<header>
  <div class="collapse bg-dark inner" id="navbarHeader">
    <li class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-3  py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
        <div class="col-sm-3  py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
            <%= nav_helper("text-white", "li")%>
            <li><%= login_helper('text-white', "<br/>") %></li>
            <li><%= link_to "Create App", new_portfolio_path, class: 'text-white' if logged_in?(:site_admin) %></li>
            <li><%= link_to 'Edit', edit_portfolio_path(@portfolio_item), class: "text-white" if logged_in?(:site_admin) && params[:action] == "show"  %> </li>
              

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <span style='padding-right: 5px;'><%= fa_icon "github-alt" %> </span>
        <strong class="devName"> Dj Ritchey</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>