<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag('favicons/favicon.ico')%>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
  <div id="blog-background"></div>
    <div class="cover-container d-flex p-3 mx-auto flex-column">
      <%= render 'shared/blog_nav'%>
      <div class="row">
        
          <%= yield %>
          <%= alerts %>
        
          <%= render 'blogs/blog_sidebar'%>
      </div>
          <%= render 'shared/footer'%>
    </div>
  </body>
</html>
